/* VARIABLES */

:root {
  --custom-teal: #1eaaaa;
  --carbon-fiber: #262626;
  --custom-white: #f2f2f2;
}

/* MAIN FORMAT START */

html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  height: 100%;
  background: linear-gradient(var(--carbon-fiber), var(--custom-teal)) no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

header {
  position: fixed;
  background-color: var(--carbon-fiber);
  height: auto;
  text-align: center;
  width: 100%;
}

main {
  padding: 140px 0px 70px 0px;
}

footer {
  background-color: var(--carbon-fiber);
  text-align: center;
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0;
}

/* MAIN FORMAT END */

/* HEADER START */

.logo {
  font-size: 3rem;
  color: var(--custom-white);
  text-decoration: none;
  display: inline-block;
  min-width: 300px;
  padding: 25px;
}

/* NAV START */

ul {
  padding: 0px;
  margin: 10px;
}

nav li {
  display: block;
  height: 40px;
}

a {
  font-size: 1.5rem;
  color: var(--custom-white);
  text-decoration: none;
}

a:hover {
  color: var(--custom-teal);
}

.active-nav {
  color: var(--custom-teal);
  opacity: 0.7;
}

nav,
#mobile-menu,
.mobile-cross {
  display: none;
}

#mobile-menu:checked ~ nav {
  display: block;
}

.mobile-bars {
  color: var(--custom-white);
  display: block;
  height: 40px;
}

.mobile-cross {
  color: var(--custom-white);
}

#mobile-menu:checked ~ .mobile-bars {
  display: none;
}

#mobile-menu:checked ~ .mobile-cross {
  display: block;
}
/* NAV END */

/* HEADER END */

/* FOOTER */

footer p {
  font-weight: bolder;
  color: var(--custom-white);
  display: inline-block;
}

/* FOOTER END */

/* PAGE CONTENT */

h1,
h2 {
  color: var(--custom-white);
}

.content {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.content li {
  list-style-type: none;
}

.gallery {
  text-align: center;
  width: 95vw;
  margin: auto;
  display: grid;
  grid-gap: 3em;
}

.gallery-card {
  border: solid 5px var(--carbon-fiber);
  text-align: center;
  padding: 10px 5px;
  border-radius: 50px;
  background-color: var(--custom-white);
  min-width: 300px;
}

.gallery-card h2,
h3,
p {
  color: var(--carbon-fiber);
}

.website-viewer {
  border: solid 2px var(--carbon-fiber);
  border-radius: 5px;
  width: 100%;
  height: 70vh;
}

.gallery-link {
  font-size: 20px;
  color: var(--carbon-fiber);
}

.material-icons {
  font-size: 30px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 50px;
  top: 9px;
  left: 10px;
}

div a {
  width: fit-content;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  border: solid 5px var(--carbon-fiber);
}

div a:hover {
  border: solid 5px var(--custom-teal);
}

/* PAGE CONTENT END */

/* MEDIA QUERIES */

@media (min-width: 900px) {
  .logo {
    padding: 25px 25px 25px 25px;
  }

  nav {
    display: inline-block;
  }

  .mobile-bars {
    display: none;
  }

  #mobile-menu:checked ~ .mobile-cross {
    display: none;
  }

  #mobile-menu:checked ~ nav {
    display: inline-block;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
    padding: 10px;
  }

  .icon {
    width: 50px;
  }
}

/* MEDIA QUERIES END */
