/* VARIABLES */

:root {
  --custom-teal: #1eaaaa;
  --carbon-fiber: #262626;
  --custom-white: #f2f2f2;
}

/* MAIN FORMAT */

html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  height: 100%;
  background: linear-gradient(var(--carbon-fiber), var(--custom-teal)) no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

header {
  position: fixed;
  background-color: var(--carbon-fiber);
  height: auto;
  text-align: center;
  width: 100%;
}

main {
  padding: 140px 0px 70px;
}

footer {
  background-color: var(--carbon-fiber);
  text-align: center;
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0;
}

/* MAIN FORMAT END */

/* HEADER */

.logo {
  font-size: 3rem;
  color: var(--custom-white);
  text-decoration: none;
  display: inline-block;
  min-width: 300px;
  padding: 25px;
}

/* NAV */

ul {
  padding: 0px;
  margin: 10px;
}

nav li {
  display: block;
  height: 30px;
}

nav a {
  font-size: 1.5rem;
  color: var(--custom-white);
  text-decoration: none;
}

nav a:hover {
  color: var(--custom-teal);
}

.active-nav {
  color: var(--custom-teal);
  opacity: 0.7;
}

nav,
#mobile_menu,
.mobile_cross {
  display: none;
}

#mobile_menu:checked ~ nav {
  display: block;
}

.mobile_bars {
  color: var(--custom-white);
  display: block;
}

.mobile_cross {
  color: var(--custom-white);
}

#mobile_menu:checked ~ .mobile_bars {
  display: none;
}

#mobile_menu:checked ~ .mobile_cross {
  display: block;
}
/* NAV END */

/* HEADER END */

/* FOOTER */

footer p {
  font-weight: bolder;
  color: var(--custom-white);
}

/* FOOTER END */

/* PAGE CONTENT */

h2 {
  color: var(--custom-white);
}

.content {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.home_content {
  text-align: center;
}

.content li {
  list-style-type: none;
}

.gallery {
  padding: 20px;
  padding-top: 30px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.gallery div {
  text-align: center;
}

.gallery img {
  width: 90vw;
}

.home_image {
  max-width: 100%;
  max-height: 80vh;
  margin-top: -20px;
}

.button-style {
  display: inline-block;
  border-style: solid;
  border-width: 10px;
  border-color: var(--carbon-fiber);
  font-family: "Poppins", sans-serif;
  height: auto;
  border-radius: 50%;
  background-color: var(--custom-white);
  padding: 20px 50px;
  color: var(--carbon-fiber);
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  transition: padding 0.5s;
}

.button-style:hover {
  border-width: 10px;
  border-color: var(--custom-white);
  background-color: var(--carbon-fiber);
  color: var(--custom-white);
  text-decoration: none;
  padding: 50px 80px;
}

.material-icons {
  font-size: 30px;
}

.icon {
  position: relative;
}

div a {
  width: 200px;
  padding: 10px;
  border-radius: 50px;
  margin: 50px auto;
  display: block;
}

div a:hover {
  background-color: var(--custom-teal);
}

.website_viewer {
  width: 90vw;
  height: 60vh;
}

.gallery_link {
  color: var(--custom-white);
}

/* PAGE CONTENT END */

/* FORM START */

.form_input {
  display: block;
  width: 100%;
}

fieldset {
  color: var(--custom-white);
  width: 250px;
  display: inline-block;
  text-align: left;
}

legend {
  font-size: 2rem;
}

label {
  font-family: "Ubuntu", sans-serif;
}

.input_button {
  margin: 10px;
  padding: 15px;
  background-color: aqua;
  border-style: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

/* FORM END */

/* MEDIA QUERIES */

@media (min-width: 750px) {
  .logo {
    padding: 25px 25px 25px 25px;
  }

  nav {
    display: inline-block;
  }

  #mobile_menu:checked ~ nav {
    display: inline-block;
  }

  .mobile_bars {
    display: none;
  }

  #mobile_menu:checked ~ .mobile_cross {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
    padding: 10px;
  }

  .icon {
    width: 50px;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .gallery img {
    width: 90vw;
  }
}

/* MEDIA QUERIES END */
