html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  height: 100%;
  background: linear-gradient(#262626, #1eaaaa) no-repeat;
  background-attachment: fixed;
}

header {
  position: fixed;
  background-color: #262626;
  height: auto;
  text-align: center;
  width: 100%;
}

main {
  padding-top: 110px;
}

footer {
  background-color: #262626;
  font-weight: bolder;
  text-align: center;
  color: #f2f2f2;
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0;
}

.content {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 150px 0px;
}

.home_content {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.content li {
  list-style-type: none;
}

/* DIV END */

.home_image {
  max-width: 100%;
  max-height: 85vh;
}

.logo {
  font-size: 3rem;
  color: #f2f2f2;
  text-decoration: none;
  display: inline-block;
  min-width: 300px;
  padding: 25px 25px 10px 25px;
}

.button-style {
  display: inline-block;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #262626;
  font-family: "Poppins", sans-serif;
  height: auto;
  border-radius: 75px;
  background-color: #f2f2f2;
  padding: 20px 50px;
  color: #262626;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  transition: padding 1s;
}

.button-style:hover {
  border-width: 10px;
  border-color: #f2f2f2;
  background-color: #262626;
  color: #f2f2f2;
  text-decoration: none;
  padding: 50px 80px;
}

.material-icons {
  font-size: 30px;
}

.icon {
  position: relative;
}

/* NAV START */

ul {
  padding: 0px;
  margin: 10px;
}

nav li {
  display: block;
  height: 30px;
}

nav a {
  font-size: 1.5rem;
  color: #f2f2f2;
  text-decoration: none;
}

nav a:hover {
  color: #1eaaaa;
}

.active-nav {
  color: #1eaaaa;
  opacity: 0.7;
}

nav,
#mobile_menu {
  display: none;
}

#mobile_menu:checked ~ nav {
  display: block;
}

.mobile_bars {
  color: #f2f2f2;
  display: block;
  padding: 10px;
}

@media (min-width: 750px) {
  .logo {
    padding: 25px 50px 25px 25px;
  }

  nav {
    display: inline-block;
  }

  #mobile_menu:checked ~ nav {
    display: inline-block;
  }

  .mobile_bars {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    display: inline-block;
    padding: 10px;
  }

  .icon {
    width: 50px;
  }
}

/* NAV END */

/* FORM START */

.form_input {
  display: block;
  width: 100%;
}

fieldset {
  color: #f2f2f2;
  width: 250px;
  display: inline-block;
  text-align: left;
}

legend {
  font-size: 2rem;
}

label {
  font-family: "Ubuntu", sans-serif;
}

.input_button {
  margin: 10px;
  padding: 15px;
  background-color: aqua;
  border-style: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

/* FORM END */
