@import "_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Scroll on all pages

html {
  overflow-y: scroll;
}

// Nav hamburger menu button

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler span {
  display: block;
  background-color: $main;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
  transition: all 0.15s ease-out;
  transform-origin: center left;
}

.navbar-toggler #top {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler #mid {
  opacity: 0;
}

.navbar-toggler #bot {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler.collapsed #top {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler.collapsed #mid {
  opacity: 1;
}

.navbar-toggler.collapsed #bot {
  transform: translate(0%, 0%) rotate(0deg);
}

// Togglers

.btn-check:not(:checked) + .btn {
  opacity: 0.4;
  border: none;
}

.btn-check:not(:checked) + .btn:hover {
  opacity: 1;
}

#sun:hover,
#moon:hover {
  transition: all 1s ease-out;
  transform-origin: center;
  transform: rotate(360deg);
}

.btn-check:checked + .btn {
  opacity: 100%;
  border: none;
}

.btn:hover {
  color: $main;
  border-radius: 15px;
}

svg path {
  fill: $light;
}

@keyframes logo {
  0% {
    right: 0px;
    rotate: -5deg;
  }
  25% {
    right: 10px;
    rotate: 5deg;
  }
  50% {
    right: 0px;
    rotate: -5deg;
  }
  75% {
    right: -10px;
    rotate: 5deg;
  }
  100% {
    right: 0px;
    rotate: -5deg;
  }
}

#logo:hover {
  position: relative;
  animation-name: logo;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

#profile-pic {
  height: 35vh;
  border-radius: 50%;
}

@include media-breakpoint-down(md) {
  #profile-pic {
    height: 25vh;
  }
}

a img:not(footer a img, p a img, nav a img, #noroff-logo),
label img,
label svg {
  width: 30px;
}

p span img {
  width: 60px;
}

nav a img {
  width: 200px;
}

#noroff-logo {
  width: 100px;
}
